doctype html
html.no-js(lang='en-US')
	head
		meta(charset='utf-8')
		title Where Should I Eat Today?

		// TODO require.js

		// jQuery
		script(src='https://code.jquery.com/jquery-3.2.0.slim.min.js',
			integrity='sha256-qLAv0kBAihcHZLI3fv3WITKeRsUX27hd6upBBa0MSow=', crossorigin='anonymous')

		// Bootstrap
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
			integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
			integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

		// Axios
		script(src='https://unpkg.com/axios/dist/axios.min.js')

		// Vue
		script(src='https://unpkg.com/vue')
		script(src='https://unpkg.com/vue-axios')


	body
		#app.container
			h1.text-center Hello there!

			// Term
			label Search term
			.input-group
				span.input-group-addon I want
				input.form-control(type='text', :value='searchTerm', v-model='searchTerm')

			// Location
			label Location
			.input-group
				span.input-group-addon I'm at
				input.form-control(type='text', :value='location', v-model='location')

			button.btn.btn-default(@click='getOutput') Search!

			div#output {{ output }}

</div>

		script(src='./main.js')
