.business {
	border-bottom: 2px solid #dddddd;
	margin: 10px;
}

/* From https://getbootstrap.com/examples/sticky-footer/sticky-footer.css */
/* Sticky footer styles
-------------------------------------------------- */
/*
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height *
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here *
  height: 60px;
  background-color: #f5f5f5;
}
*/


/* Sticky footer tweaks */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer {
  height: 60px;
  background-color: #f5f5f5;
}
